.applied h1{
    font-weight: 800;
font-size: 32px;
line-height: 44px;
text-align: center;
color: #1A1919;

}

.seeAppliedJob{
    margin-top: 100px;
    margin-left: 200px;
}
.seeRemoteJob{
    text-decoration: none;
    margin-right: 10px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 4px;
    padding: 20px 40px;
    font-size:large;
    color: white;

}
.seeOnsiteJob{
    text-decoration: none;
    margin-right: 10px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 4px;
    padding: 20px 40px;
    font-size:large;
    color: white;

}